
<div class ="container">
<div class="row" id="climbandform">
  <div class="col-md-6 intro-text">
      <br>
      <br>
      <h2><i>Better English</i></h2>
      <h1><i>&nbsp;&nbsp;&nbsp;Colorful Future</i></h1>
      <p><i>&nbsp;&nbsp;Study English in Beautiful <br>Los Angeles!</i></p>
  </div>
  <div class="col-md-6">
    <br>
    <div class="panel panel-primary">
      <div class="panel-body legible-color">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Sign Up And Enjoy A Free Trial Lesson!</b></i>
      </div>
    </div>
    <%= form_for @user,  html: {class: 'form-horizontal signupform pink-color'} do |f| %>
    <div>
      <%= f.label :name%>
      <%= f.text_field :name, :size => 60%>
    </div>
    <br>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email, :size => 60%>
    </div>
    <br>
    <div>
      <%= f.label :wechat%>
      <%= f.text_field :wechat, :size => 60%>
    </div>
    <br>
    <div>
      <%= f.label :password%>
      <%= f.password_field :password, :size => 60%>
    </div>
    <br>
    <div>
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, :size => 60%>
    </div>
    <br>
    <div>
      <%= f.label :notes%>
      <%= f.text_field :notes, :size => 60%>
    </div>
    <br>
      <%= f.submit "Sign Up!" %>
    <% end %>
    <br>
    <br>
  </div>
</div>
  <div class="row">
    <p style="color:white">-</p>
  </div>
  <div class="row" id= "palmsandcarousel">
    <div class="col-md-6 legible-color-white">
      <br>
      <h1><b>About Rainbow House</b></h1>
      <h2><i>Welcome to Our Brand New North American Center!</i></h2>
      <h4>Rainbow Village Club is an English adult English training institutions, to listening and speaking as the core, to help members enhance the overall application level of English. Club course is divided into three major levels, and each level is subdivided into three small big level, all course content developed by a team of professional teachers, including more than 400 topics, covering the daily life and work of the various content. Teacher giving lessons in small clubs in the form of no more than eight people per class to class; exclusive curriculum consultant and teacher in the club, members will be tracking guidance in the learning process, to discover and solve problems in the process of learning for members provide a comprehensive range of services. </h4>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
    <div class="col-md-6">
      <br>
      <div class="carousel slide" id="carousel-523856">
        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carousel-523856">
          </li>
          <li data-slide-to="1" data-target="#carousel-523856">
          </li>
          <li data-slide-to="2" data-target="#carousel-523856">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img src="http://i.imgur.com/P3EFiee.jpg" title="source: imgur.com" />
            <div class="carousel-caption">
              <h4>
                Sam
              </h4>
              <p>
                Notable for his skill at giggin': hunting bullfrogs at night with a flashlight and a trident.
              </p>
            </div>
          </div>
          <div class="item">
            <img src="http://i.imgur.com/ZZrrwvW.jpg" title="source: imgur.com" />
            <div class="carousel-caption">
              <h4>
                Meet Your Instructors: Ren
              </h4>
              <p>
                Ren speaks 17 languages, including Ruby!
              </p>
            </div>
          </div>
          <div class="item">
            <img src="http://i.imgur.com/0YsoB4G.jpg" title="source: imgur.com">
            <div class="carousel-caption">
              <h4>
                Meet Your Instructors: Bernell
              </h4>
              <p>
                He's from New Jersey!
              </p>
            </div>
          </div>
        </div> <a class="left carousel-control" href="#carousel-523856" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-523856" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="text-align: center">
   <h3><b>Check Out the New Center!</b</h3>
  </div>
  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img alt="Bootstrap Image Preview" style="max-width:100%; max-height:100%;" src="http://i.imgur.com/vnQaLUi.jpg" />
    </div>

    <div class="col-md-4">
      <img alt="Bootstrap Image Preview" style="max-width:100%; max-height:100%;" src="http://i.imgur.com/cBzcLKC.jpg" />
    </div>

    <div class="col-md-4">
      <img alt="Bootstrap Image Preview" style="max-width:100%; max-height:100%;"src="http://i.imgur.com/ZPTBVy6.jpg" />
    </div>
  </div>
  <div class="col-md-1" style="color:white;">
  p
  </div>

  <div class="row">
    <p style="color:white">-</p>
  </div>
  <div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" id="top-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
      <ul class="nav navbar-nav navbar-left">
        <li><img src="http://i.imgur.com/sQW2IGL.png" class="footer-img" title="source: imgur.com"/></li>
        <li><a href="#">北京新天乐语文化俱乐部有限公司 2009-2012 版权所有 京ICP备13042620号 京公网安备：110105008220 </a><br>Copyright © 2009-2012 Rainbowhouseclub.com All Rights Reserved.</li>
      </ul>

    <!-- Collect the nav links, forms, and other content for toggling -->


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    </div>
  </div>
</div>
</div>
</body>
</html>
