<h1>Add a new course!</h1>

<%= form_for @course do |f| %>

    <div>
        <%= f.label :category %>
        <%= f.text_field :category %>
    </div>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :course_id%>
        <%= f.text_field :course_id %>
    </div>

    <%= f.submit "Add new course!" %>

<% end %>

<%= link_to "Back to the list!", courses_path %>
